---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_types/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"89d1115a-b236-43ce-8c6b-875defa8ac37","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1ec2feeeb28867569ee1a71bc0c6c037"
    body:
      encoding: UTF-8
      string: '{"request_id":"89d1115a-b236-43ce-8c6b-875defa8ac37","success":true,"proceeding_types":[{"ccms_code":"DA001","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"matter_type":"Domestic
        abuse"}]}'
  recorded_at: Mon, 16 May 2022 11:21:53 GMT
recorded_with: VCR 6.1.0
