---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"3c6240ca-31e8-4564-a2ce-274eb85ac3d9","proceedings":[{"ccms_code":"DA002","client_involvement_type":"A"},{"ccms_code":"SE013","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b8371e412d96a1feb7cfd7a79f39862"
    body:
      encoding: UTF-8
      string: '{"request_id":"3c6240ca-31e8-4564-a2ce-274eb85ac3d9","success":true,"proceedings":[{"ccms_code":"DA002","matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"client_involvement_type":"A"},{"ccms_code":"SE013","matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"A"}]}'
  recorded_at: Fri, 15 Jul 2022 14:39:01 GMT
recorded_with: VCR 6.1.0
