---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"954a1092-521a-492a-9b6d-ab0cc6520b4d","proceedings":[{"ccms_code":"DA004","client_involvement_type":"A"},{"ccms_code":"DA020","client_involvement_type":"A"},{"ccms_code":"SE004","client_involvement_type":"A"},{"ccms_code":"SE013","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e672f7710ca99f06c1b0530d3ed152f"
    body:
      encoding: UTF-8
      string: '{"request_id":"954a1092-521a-492a-9b6d-ab0cc6520b4d","success":true,"proceedings":[{"ccms_code":"DA004","matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"client_involvement_type":"A"},{"ccms_code":"DA020","matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"client_involvement_type":"A"},{"ccms_code":"SE004","matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"A"},{"ccms_code":"SE013","matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"A"}]}'
  recorded_at: Fri, 15 Jul 2022 14:38:59 GMT
recorded_with: VCR 6.1.0
