---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_types/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"463cb341-a120-43f9-a4e4-43b17b25b1ce","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e0127104b08591598b4dec10c763eb13"
    body:
      encoding: UTF-8
      string: '{"request_id":"463cb341-a120-43f9-a4e4-43b17b25b1ce","success":true,"proceeding_types":[{"ccms_code":"DA001","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"matter_type":"Domestic
        abuse"}]}'
  recorded_at: Mon, 16 May 2022 11:03:50 GMT
- request:
    method: post
    uri: http://localhost:4001/proceeding_types/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"df4806cf-3f85-4e89-bec9-0b0ce73814dd","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"afe730f4876b257be1430f3abd5b1ab7"
    body:
      encoding: UTF-8
      string: '{"request_id":"df4806cf-3f85-4e89-bec9-0b0ce73814dd","success":true,"proceeding_types":[{"ccms_code":"DA001","matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true}]}'
  recorded_at: Fri, 15 Jul 2022 08:27:56 GMT
recorded_with: VCR 6.1.0
