---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_types/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"6b2d3a41-dd79-46ff-86e8-6232c1da550d","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14a6e5cba0e37fe9b5ed6f29d27dfc16"
    body:
      encoding: UTF-8
      string: '{"request_id":"6b2d3a41-dd79-46ff-86e8-6232c1da550d","success":true,"proceeding_types":[{"ccms_code":"DA001","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"matter_type":"Domestic
        abuse"}]}'
  recorded_at: Thu, 14 Jul 2022 06:49:06 GMT
recorded_with: VCR 6.1.0
