---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_types/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"3fd2231c-57ee-4264-8aae-77a65fad4fee","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"45c446e5b0ec83f34cc2026c6b872298"
    body:
      encoding: UTF-8
      string: '{"request_id":"3fd2231c-57ee-4264-8aae-77a65fad4fee","success":true,"proceeding_types":[{"ccms_code":"DA001","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"matter_type":"Domestic
        abuse"}]}'
  recorded_at: Wed, 13 Jul 2022 10:37:42 GMT
recorded_with: VCR 6.1.0
