---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/?fields=*&supportsTeamDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.ElpPB-6x0tdNb2pRxlf38WTlmOBY6-1b307Og-JqLIa90xAqMZbkcde0g8tQq04mKKPY0ncQMQWrwRTDP-TRSebuO5UbH9VxeR1g4kQB8nyxzJYsrpakh0kaQZc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#fileList",
         "incompleteSearch": false,
         "files": [
          {
           "kind": "drive#file",
           "id": "16X7ORqVRpC0BMxgsXn8_NR9ul4MNPWUbYqmpeoBstIo",
           "name": "New Means Assessment test data ",
           "mimeType": "application/vnd.google-apps.spreadsheet",
           "starred": false,
           "trashed": false,
           "explicitlyTrashed": false,
           "spaces": [
            "drive"
           ],
           "version": "358",
           "webViewLink": "https://docs.google.com/spreadsheets/d/16X7ORqVRpC0BMxgsXn8_NR9ul4MNPWUbYqmpeoBstIo/edit?usp=drivesdk",
           "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet",
           "hasThumbnail": true,
           "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=16X7ORqVRpC0BMxgsXn8_NR9ul4MNPWUbYqmpeoBstIo&v=249&s=AMedNnoAAAAAXTiupc3Ysif_qN-slWEhgb1kJyCLE3CM&sz=s220",
           "thumbnailVersion": "249",
           "viewedByMe": false,
           "createdTime": "2019-05-30T09:45:39.624Z",
           "modifiedTime": "2019-07-24T08:20:46.755Z",
           "modifiedByMe": false,
           "sharedWithMeTime": "2019-07-24T08:20:46.762Z",
           "sharingUser": {
            "kind": "drive#user",
            "displayName": "Julien Sansot",
            "photoLink": "https://lh3.googleusercontent.com/-PtO4hvReZ5c/AAAAAAAAAAI/AAAAAAAAAAc/_Ti_mmd_flQ/s64/photo.jpg",
            "me": false,
            "permissionId": "10761584648075808656",
            "emailAddress": "julien.sansot@digital.justice.gov.uk"
           },
           "owners": [
            {
             "kind": "drive#user",
             "displayName": "Stephen Richards",
             "photoLink": "https://lh4.googleusercontent.com/-4YaO2K5tIBY/AAAAAAAAAAI/AAAAAAAAAAw/v4kYAJ8l_5M/s64/photo.jpg",
             "me": false,
             "permissionId": "11010792964194441072",
             "emailAddress": "stephen.richards@digital.justice.gov.uk"
            }
           ],
           "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "Julien Sansot",
            "photoLink": "https://lh3.googleusercontent.com/-PtO4hvReZ5c/AAAAAAAAAAI/AAAAAAAAAAc/_Ti_mmd_flQ/s64/photo.jpg",
            "me": false,
            "permissionId": "10761584648075808656",
            "emailAddress": "julien.sansot@digital.justice.gov.uk"
           },
           "shared": true,
           "ownedByMe": false,
           "capabilities": {
            "canAddChildren": false,
            "canChangeCopyRequiresWriterPermission": false,
            "canChangeViewersCanCopyContent": false,
            "canComment": false,
            "canCopy": true,
            "canDelete": false,
            "canDownload": true,
            "canEdit": false,
            "canListChildren": false,
            "canMoveItemIntoTeamDrive": false,
            "canMoveItemOutOfDrive": false,
            "canReadRevisions": false,
            "canRemoveChildren": false,
            "canRename": false,
            "canShare": false,
            "canTrash": false,
            "canUntrash": false
           },
           "viewersCanCopyContent": true,
           "copyRequiresWriterPermission": false,
           "writersCanShare": true,
           "quotaBytesUsed": "0",
           "isAppAuthorized": false,
           "exportLinks": {
            "application/x-vnd.oasis.opendocument.spreadsheet": "https://docs.google.com/spreadsheets/export?id=16X7ORqVRpC0BMxgsXn8_NR9ul4MNPWUbYqmpeoBstIo&exportFormat=ods",
            "text/tab-separated-values": "https://docs.google.com/spreadsheets/export?id=16X7ORqVRpC0BMxgsXn8_NR9ul4MNPWUbYqmpeoBstIo&exportFormat=tsv",
            "application/pdf": "https://docs.google.com/spreadsheets/export?id=16X7ORqVRpC0BMxgsXn8_NR9ul4MNPWUbYqmpeoBstIo&exportFormat=pdf",
            "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": "https://docs.google.com/spreadsheets/export?id=16X7ORqVRpC0BMxgsXn8_NR9ul4MNPWUbYqmpeoBstIo&exportFormat=xlsx",
            "text/csv": "https://docs.google.com/spreadsheets/export?id=16X7ORqVRpC0BMxgsXn8_NR9ul4MNPWUbYqmpeoBstIo&exportFormat=csv",
            "application/zip": "https://docs.google.com/spreadsheets/export?id=16X7ORqVRpC0BMxgsXn8_NR9ul4MNPWUbYqmpeoBstIo&exportFormat=zip",
            "application/vnd.oasis.opendocument.spreadsheet": "https://docs.google.com/spreadsheets/export?id=16X7ORqVRpC0BMxgsXn8_NR9ul4MNPWUbYqmpeoBstIo&exportFormat=ods"
           }
          },
          {
           "kind": "drive#file",
           "id": "0B373a-acyCEWc3RhcnRlcl9maWxl",
           "name": "Getting started",
           "mimeType": "application/pdf",
           "starred": false,
           "trashed": false,
           "explicitlyTrashed": false,
           "parents": [
            "0AH73a-acyCEWUk9PVA"
           ],
           "spaces": [
            "drive"
           ],
           "version": "1",
           "webContentLink": "https://drive.google.com/uc?id=0B373a-acyCEWc3RhcnRlcl9maWxl&export=download",
           "webViewLink": "https://drive.google.com/file/d/0B373a-acyCEWc3RhcnRlcl9maWxl/view?usp=drivesdk",
           "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/pdf",
           "hasThumbnail": true,
           "thumbnailLink": "https://lh3.googleusercontent.com/NQEo2IuUJM6Y8tolDN_E73_4dEqR3mdQwdgUFNnZUeq0abQFZKsI2RMjYpPfdEYzNThSN8U=s220",
           "thumbnailVersion": "1",
           "viewedByMe": false,
           "createdTime": "2019-07-24T08:19:47.214Z",
           "modifiedTime": "2019-07-24T08:19:47.214Z",
           "modifiedByMe": false,
           "owners": [
            {
             "kind": "drive#user",
             "displayName": "<GOOGLE_CLIENT_EMAIL>",
             "me": true,
             "permissionId": "12946609242220510471",
             "emailAddress": "<GOOGLE_CLIENT_EMAIL>"
            }
           ],
           "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "<GOOGLE_CLIENT_EMAIL>",
            "me": true,
            "permissionId": "12946609242220510471",
            "emailAddress": "<GOOGLE_CLIENT_EMAIL>"
           },
           "shared": false,
           "ownedByMe": true,
           "capabilities": {
            "canAddChildren": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDownload": true,
            "canEdit": true,
            "canListChildren": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
           },
           "viewersCanCopyContent": true,
           "copyRequiresWriterPermission": false,
           "writersCanShare": true,
           "permissions": [
            {
             "kind": "drive#permission",
             "id": "12946609242220510471",
             "type": "user",
             "emailAddress": "<GOOGLE_CLIENT_EMAIL>",
             "role": "owner",
             "displayName": "<GOOGLE_CLIENT_EMAIL>",
             "deleted": false
            }
           ],
           "originalFilename": "Getting started",
           "fullFileExtension": "",
           "fileExtension": "",
           "md5Checksum": "df1f432d0c63e3d1ff27e01d10ec8e10",
           "size": "1560010",
           "quotaBytesUsed": "0",
           "headRevisionId": "0B373a-acyCEWTm9mSCs0YzhqRlgySWdwTlZxWHo2dUVLMDQ0PQ",
           "isAppAuthorized": false
          },
          {
           "kind": "drive#file",
           "id": "1ET0HSzE2x4pForyeb3A9EX6iatbfZOYSINry5pbfRPg",
           "name": "Copy of New Means Assessment test data ",
           "mimeType": "application/vnd.google-apps.spreadsheet",
           "starred": false,
           "trashed": false,
           "explicitlyTrashed": false,
           "spaces": [
            "drive"
           ],
   [...]
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJzZXJ2aWNlQGNoZWNrLWZpbmFuY2lhbC1lbGlnaWJpbGl0eS5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsImF1ZCI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL29hdXRoMi92NC90b2tlbiIsImV4cCI6MTU2Mzk4ODY5NywiaWF0IjoxNTYzOTg4NTc3LCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvZHJpdmUgaHR0cHM6Ly9zcHJlYWRzaGVldHMuZ29vZ2xlLmNvbS9mZWVkcy8ifQ.B8lL_8JCMfdmVFXwX2srPAkRkWPZ-3kyuHOixmAEiC2CjKtSmT7dGR3DC95IO7xboiqguf6dQAWd7gbbZwUBhRomZm2Cjz8e-uBSDqgsfmhpjEOxpqueqfbGNNVzBbPVjhL15ZL9RPr2ftNUShoNhv3nD086vxrbhGkTCVPNFD0uB_R6a6ext1bisnm4cE9woLB17hXuEdxrwirjEMT5BbID4DQhqtqRfficBT3cIrYmFDdfZlxM7lyJB32Es3XceIXfjQHvezMWBIkBzoXRldIi7a3-VFtpxXw71CQ3J6WtiNaBr4o_Rtxh39LIRZZa6DbbOG3e2E7rUFdMuW8Iiw
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.c.ElpPB8ddtxWbVHDKkv1puVbGKVaYLnfJMIfoU040zq7LgRSb_9KbO3m5STQpvmG6CE2zEi_tw-v5i0EMZ0F2fjwWd0ziGUpXFKQJBQkydxThDb91yFPH7XobxBc",
          "expires_in": 3600,
          "token_type": "Bearer"
        }
  recorded_at: Wed, 24 Jul 2019 17:17:17 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/16X7ORqVRpC0BMxgsXn8_NR9ul4MNPWUbYqmpeoBstIo?fields=*&supportsTeamDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.ElpPB8ddtxWbVHDKkv1puVbGKVaYLnfJMIfoU040zq7LgRSb_9KbO3m5STQpvmG6CE2zEi_tw-v5i0EMZ0F2fjwWd0ziGUpXFKQJBQkydxThDb91yFPH7XobxBc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message[...]
