---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"4efa3b2b-8c2b-43a2-97b4-5a51d3fd810b","proceedings":[{"ccms_code":"DA001","client_involvement_type":"A"},{"ccms_code":"SE013","client_involvement_type":"D"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"85b853359f905036a301b7c466c324ed"
    body:
      encoding: UTF-8
      string: '{"request_id":"4efa3b2b-8c2b-43a2-97b4-5a51d3fd810b","success":true,"proceedings":[{"ccms_code":"DA001","matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"client_involvement_type":"A"},{"ccms_code":"SE013","matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"D"}]}'
  recorded_at: Mon, 18 Jul 2022 13:46:43 GMT
recorded_with: VCR 6.1.0
