---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_types/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"7bd6ded0-8804-4d8c-bdf9-6f414d6d254b","proceeding_types":["DA004"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6577b13904f745fa111269c52612c8ec"
    body:
      encoding: UTF-8
      string: '{"request_id":"7bd6ded0-8804-4d8c-bdf9-6f414d6d254b","success":true,"proceeding_types":[{"ccms_code":"DA004","matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true}]}'
  recorded_at: Mon, 01 Aug 2022 09:20:11 GMT
[...]
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_types/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"5c05d925-2eed-40a2-aa1c-533850b7690c","proceeding_types":["SE003"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aeb03922cd4077678edf63e3f91bdbc6"
    body:
      encoding: UTF-8
      string: '{"request_id":"5c05d925-2eed-40a2-aa1c-533850b7690c","success":true,"proceeding_types":[{"ccms_code":"SE003","matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false}]}'
  recorded_at: Mon, 01 Aug 2022 09:20:30 GMT
recorded_with: VCR 6.1.0
