---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_types/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"9e4707a4-4ec7-46c4-8ebc-b2421f038c4b","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f56de220f42e9db7bac5b934955809c5"
    body:
      encoding: UTF-8
      string: '{"request_id":"9e4707a4-4ec7-46c4-8ebc-b2421f038c4b","success":true,"proceeding_types":[{"ccms_code":"DA001","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"matter_type":"Domestic
        abuse"}]}'
  recorded_at: Fri, 13 May 2022 15:18:29 GMT
recorded_with: VCR 6.1.0
