---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/proceeding_types/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"38a688fe-eb20-4f81-a235-78cf6d887ba5","proceeding_types":["DA001"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cebc4e094ebcd3e14559b6403876275a"
    body:
      encoding: UTF-8
      string: '{"request_id":"38a688fe-eb20-4f81-a235-78cf6d887ba5","success":true,"proceeding_types":[{"ccms_code":"DA001","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"matter_type":"Domestic
        abuse"}]}'
  recorded_at: Mon, 16 May 2022 11:30:35 GMT
recorded_with: VCR 6.1.0
